@charset "UTF-8";

body{
    background-image: linear-gradient(to right, #022873, #0460D9, #022859, #0583F2, #0D0D0D);
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
color: #022873;
text-align: center;
text-shadow: 1px 1px 2px black;
}

h2{
color: #0460D9;
}

p{
 text-align: justify;
}